
/*
h4{
	margin-left: 17px;
	margin-right: 10px;
	margin-top: 10px;
	float:right;
}	
*/
hr{
	border-width: 5px;
}

.addEventBtn{
	font-size:42px; 
	color:#D90368; 
	/*float:right; 
	margin-right: 5%;*/
}

.eventTile{
	border-radius: 15px;
	/*float: left;
	margin-left: 2%;
	margin-top: 15%;
	background-color: #00bfa5;
	margin-top: 15%;
	padding-bottom: 5px;*/
	margin-bottom: 5px;
	background-color: rgba(182, 249, 229, 15);
	border: solid #00bfa5;
}


#deleteBtn{
	outline: none;
  	color: #2E294E;
  	background-color: transparent;
  	border: none;
  	cursor: pointer;
}

.eventButton {
  background-color: transparent;
  border: none;
  color: #2E294E;
  text-align: left;
  /**transition: all 0.5s;**/
  cursor: pointer;
  /**margin-top: 0px;**/
  margin-top: none;
  width: 340px;
  height: 130px;
}

.eventButton:focus {
	outline:0;
}

.col-8{
	height: 30px;
}
.col-2{
	height: 30px;
}
/*.col-sm-4{
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate( -120%, 50%);
}*/

.noEvent{
	border: solid;
	border-radius: 15px;
	height: 50%;
	text-align: center;
	margin-top: 50px;
}

.close:focus{
	outline: 0;
}