@CHARSET "ISO-8859-1";



.eventTile{
	border: 2px solid;
	float: left;
	margin-right: 10px;
	}
	
.tile {
  /*transform: scale(1); */
  position: relative;
  width: 100%;
  margin: 0.5em;
}

.tile-thumbnail {
  position: relative;
  height: 0;
  padding-bottom: 60%;
  }
}

.tile-title { 
  border-top: 1px solid;
  display: block;
  margin: 0.25em;
  color: #333;
  font-weight: 700;
  text-align: left;
  text-decoration: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  
  &:before {
    content: '';
    z-index: 1;
    position: absolute;
    display: block;
    background: rgba(#f00, 0.25);
  }
}
#btnAddVendor{
	background-color: #D90368;
	color: #F1E9DA;
}

.updateButton{
	float: right;
}

.deleteButton{
	float: right;
}

footer {
	clear: both;
	height: 50px;
    padding: 15px;
    color: #F1E9DA;
	background-color: #541388;
	margin-top: 15px;	
}