@CHARSET "ISO-8859-1";


h4{
	margin: 0px 10px 0px 10px;
	float:right;
}	

.eventTile{
	border-radius: 25px;
	height: 100%;
	float: center;
	border: solid;
	margin-right: 10px;
	background-color: green;
	}
	
.tile {
  /*transform: scale(1); */
  border-radius: 25px;
  width: 100%;
  margin: 5px;
  margin-left: 10px;
}

.tile-title{
	margin: 10px 10px 10px 10px;
	
}

#deleteBtn{
	outline: none;
  	color: black;
  	background-color: transparent;
  	border: none;
}

.eventButton {
  background-color: transparent;
  border: none;
  color: black;
  text-align: left;
  transition: all 0.5s;
  cursor: context-menu;
  margin: 5px;
}

.eventButton span {
  cursor: context-menu;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.eventButton span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.eventButton:hover span {
  padding-right: 25px;
  padding-left: 25px;
  padding-bottom: 10px;
}

.eventButton:hover span:after {
  opacity: 1;
  right: 0;
}
